<!DOCTYPE html>
<html lang="en" ng-app="flock">
<head>
<title>Test Bed</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

<link rel='stylesheet' type='text/css' href='styles/main.css' />
<script src="lib/jquery-1.10.2.min.js"></script>
<script src="lib/gl-matrix-min.js"> </script>
<script src="lib/pixi.dev.js"> </script>
<script src="bower_components/angular/angular.min.js"> </script>
<script src="bower_components/KeyboardJS/keyboard.js"> </script>

<script src="js/SteeringForce/TestBed.js"> </script>
<script src="js/SteeringForce/Steering/Arrive.js"> </script>
<script src="js/SteeringForce/Steering/Evade.js"> </script>
<script src="js/SteeringForce/Steering/Flee.js"> </script>
<script src="js/SteeringForce/Steering/FleeInRange.js"> </script>
<script src="js/SteeringForce/Tools.js"> </script>
<script src="js/SteeringForce/ForceLine.js"> </script>
<script src="js/SteeringForce/TextInfo.js"> </script>

<script>
function init() {
}
</script>
</head>

<body onload="init();" ng-controller='flockController as flock'>
<div class='container-fluid'>
  <div class="row-fluid">
    <div class="span10">
      <canvas id="game-canvas" width="800" height="800"></canvas>
    </div>

    <div class="span2">
      <div class="btn-group">
        <button class="btn" ng-click='flock.arriveSteering()'>Arrive</button>
        <button class="btn" ng-click='flock.evadeSteering()'>Evade</button>
        <button class="btn" ng-click='flock.pausePlayPressed()'>Pause/Play</button>
        <button class="btn" ng-click='flock.moveTarget()'>Move Target</button>
        <button class="btn" ng-click='flock.moveThreat()'>Move Threat</button>
        <button class="btn" ng-click='flock.toggleRotation()'>Toggle Rotation</button>
        <button class="btn" ng-click='flock.toggleMovement()'>Toggle Movement</button>
      </div>
    </div>
  </div>
</div>

<script src="js/app.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

